<h1>About Us</h1>
<h2>The Seattle Quake Rugby Football Club</h2>

<p>The Seattle Quake Rugby Football Club is the Northwest’s first primarily gay men’s rugby team. We are dedicated to promoting the game of Rugby to those who may not have exposure to it, and developing rugby players regardless of prior rugby or athletic experience of all ages, races and sexual orientations. The Quake has two sides with regular matches, a competitive Green side that competes in Division III of the Pacific Northwest Rugby Football Union, and a Gold side for player development that plays friendly matches. We play a full schedule fall and spring, August-November and February-May. We also play friendly matches in spring and fall, as well as compete in tournaments.</p>
<br>

<h2>Our Mission</h2>

<p>The Seattle Quake Rugby Football Club is a non-profit corporation and a gay organization that actively seeks out traditionally under-represented members in our community and encourages them to explore the sport of Rugby Union in a non-threatening and empowering environment. As such The Seattle Quake maintains a developmental rugby program that fosters a love for the sport of rugby regardless of athletic ability. Through positive competitive engagement in our surrounding communities, we hope to directly challenge stereotypes and bigotry in what has historically been the uncommon ground of rugby. Further, we actively participate and are in solidarity with other organizations that share our common goals of mutual understanding and respect for all members of the community.</p>
